body {
    font-family: 'Nunito', sans-serif;
    background-color: beige;
    padding: 5px;
}

.navbar {
    background-color: rgb(255, 255, 255);


}

.navbar li:hover {
    background-color: #eae4e4;
}



.bg-gradient {
    background: linear-gradient(135deg, #007BFF, #00C6FF);
    color: #453d3d;
    padding: 50px 0;
}

header h1 {
    color: #6d5f5f;
    font-size: 3em;
    animation: typewriter 1s steps(25) 1s 1 normal both;
}

.promo-text {
    color: #868686;
    font-size: 1.5em;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out 1;
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
    width: 100%
}


footer {
    background: rgb(255, 255, 255);
    color: rgb(89, 89, 78);
    padding: 20px 0;
}

.social-icons img {
    width: 45px;
    margin: 0 10px;
    transition: transform 0.3s;
    border-bottom: #877e7e solid;
    border-radius: 15px;
    box-shadow: #b38e8e inset 10px 10px 0px;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.whatsappbotao {
    position: fixed;
    bottom: 20px;

}


.watsaapbotaos {
    border-radius: 50%;
    display: flex;
    transition: background-color 0.3s ease;
}

.watsaapbotao img {
    width: 90px;
    height: 40px;
}







@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 1000%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 5;
    }
}









/* Header com carrossel infinito */
#carousel-header {
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: background-image 60s ease-in-out;
}

#carousel-header h1 {
    font-size: 3em;
    animation: typewriter 2s steps(24) 1s 1 normal both;
}

.promo-text {
    font-size: 1.5em;
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out 1;
}

.typewriter {
    font-family: 'Courier New', Courier, monospace;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}




.card-title {
    background: linear-gradient(135deg, #007BFF, #00C6FF);
    border-radius: 7px;
    color: rgb(54, 54, 54);
    box-shadow: #b28a8a 5px 2px 80px;
}










/* Estilos básicos do botão */
.whatsapp-button {
    position: fixed;
    /* Fixa o botão na posição */
    bottom: 20px;
    /* Distância do rodapé */
    right: 20px;
    /* Distância da lateral direita */
    z-index: 100;
    /* Mantém o botão na frente de outros elementos */
    */
    /* Sombra ao redor */
    padding: 10px;
    /* Espaçamento interno */
    transition: transform 0.3s;
    /* Efeito de transformação */
}

.whatsapp-button img {
    width: 120px;
    /* Tamanho da imagem */
    height: 100px;
    /* Tamanho da imagem */
}

.whatsapp-button:hover {
    transform: scale(1.1);
    /* Aumenta o botão quando o cursor está sobre ele */
}

.grupos img {
    width: 40px;
    /* Tamanho da imagem */
    height: 40px;
    /* Tamanho da imagem */
    border-radius: 50%;
    /* Deixa a imagem circular */
}

.grupos1 img {
    width: 40px;
    /* Tamanho da imagem */
    height: 40px;
    /* Tamanho da imagem */
    border-radius: 50%;
    /* Deixa a imagem circular */
    margin-right: 20px;
}

.grupos {
    padding: 20px;
    border-radius: 10px;
    border: none;
    display: flex;
}




.whatsapp-button {
    position: fixed;
    /* Fixa o botão na posição */
    bottom: 20px;
    /* Distância do rodapé */
    right: 20px;
    /* Distância da lateral direita */
    z-index: 100;
    /* Mantém o botão na frente de outros elementos */
    /* Sombra ao redor */
    padding: 10px;
    /* Espaçamento interno */
    transition: transform 0.3s;
    /* Efeito de transformação */
}







/* Define o container principal do carrossel */
#carousel-image1 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-move {
    width: 100%;
    position: relative;
}

.carousel-images {
    display: flex;
    width: 70%;
    /* A largura é três vezes o tamanho da tela para suportar todas as imagens */
    animation: move-carousel 30s linear infinite;
    /* Animação para mover o carrossel */
}

.carousel-images img {
    width: 60%;
    flex-shrink: 0;
    /* As imagens não diminuem em tamanho */
}

@keyframes move-carousel {
    33% {
        transform: translateX(0);
        /* Posição inicial */
    }

    23% {
        transform: translateX(-100%);
        /* Após 1/3 do tempo, a primeira imagem some */
    }

    66% {
        transform: translateX(-200%);
        /* Após 2/3 do tempo, a segunda imagem some */
    }

    90% {
        transform: translateX(0);
        /* Volta ao início */
    }
}

.carousel-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    /* Vinheta suave */
}




.pacote1 img {
    width: 300px;
    height: 330px;
    object-fit: cover;
    transition: transform 0.3s;
    position: center;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: #816666 5px 5px 5px;
}

.pacote1 img {
    border: none;
    transition: transform 0.03s ease;
}

.pacote1 img:hover {
    transform: scale(1.05);
}


.pacote2 img {
    width: 300px;
    height: 330px;
    object-fit: cover;
    transition: transform 0.3s;
    position: center;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: #816666 5px 5px 5px;

}

.pacote2 img {
    border: none;
    transition: transform 0.93s ease;
}

.pacote2 img:hover {
    transform: scale(1.05);
}

.pacote3 img {
    width: 300px;
    height: 330px;
    transition: transform 0.3s;
    position: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 15px;
    box-shadow: #816666 5px 5px 5px;

}

.pacote3 img {
    border: none;
    transition: transform 0.02s ease;
}

.pacote3 img:hover {
    transform: scale(1.05);
}


.packs {
    display: flex;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    align-content: center;
    justify-content: space-between;
    border: none;
}







.grupos {
    margin-left: 35%;

}

.grupos1 {
    margin-left: 35%;
}















#side_items {
    list-style: none;
    padding: 0;
}

#side_items li {
    padding: 10px;
}

#side_items li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

#side_items li i {
    margin-right: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 0;
        left: 0;
        /* cor de fundo opcional */
        z-index: 10;
        display: flex;
        justify-content: center;
        /* Centraliza os itens */

    }

    #side_items {
        display: flex;
        justify-content: space-around;
    }
}












/* CSS para o menu ocupar 100% da largura */
#sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* cor de fundo opcional */
    z-index: 10;
    display: flex;
    justify-content: center;
    /* Centraliza os itens */
}

#side_items {
    list-style: none;
    display: flex;
    gap: 20px;
    /* Espaçamento entre os itens */
    padding: 0;
    margin: 0;
}

#side_items li {
    padding: 10px 0;
}

#side_items li a {
    color: rgb(0, 0, 0);
    /* Cor do texto */
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

#side_items li a i {
    margin-right: 8px;
    /* Espaçamento entre o ícone e o texto */
}

/* Estilo para responsividade (opcional) */
@media (max-width: 768px) {
    #side_items {
        flex-direction: column;
        align-items: center;
    }
}
